
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/22.png" type="image/png">
    <title>Admin Page</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
</head>
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
h1{
  font-size: 40px;
}
h3 {
   border: 3px solid;
    border-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-color:#5496ff ;
    width:800px;
    height: 800px;
text-align:center;
position: relative;


}
testimonials_area {
background: #f9f9ff; }
.testimonials_area.testi_two {
background: #fff; }
.testimonials_area.testi_two .testi_inner {
margin-top: -20px;
margin-bottom: -20px; }
.testimonials_area.testi_two .owl-item {
padding: 20px 0px; }
.testimonials_area.testi_two .testi_item {
background: #f9f9ff;
border-color: #f9f9ff;
transition: all 300ms linear 0s; }
.testimonials_area.testi_two .testi_item:hover {
  background: #fff;
  border-color: #fff;
  box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.1); }



}
body {font-size:16px; }
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}

</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-blue w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h2 class="w3-padding-64"><b>Admin Personal Profile </b></h2>


  </div>
  <div class="w3-bar-block">
    <ul>
      <li>  <img src="images/22.png" height="300px" alt="">
</li>
      <li><a href="dashboard.html" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Dashboard.</a></li>


        <li><a href="../home/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home.</a></li>
        <li class="nav-item submenu dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff</a>
            <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="../home/doctor">Doctors</a></li>

                <li class="nav-item"><a class="nav-link" href="/engineer">Clinical Engineers</a></li>

            </ul>
        </li>
        <li><a href="../home/patient" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Patients.</a></li>

      <li><a href="/Equipment" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Equipments and Systems.</a></li>

                  <li><a href="../home/aboutUs" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">About Us.</a></li>
                  <li><a href="../home/contactUs" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact Us.</a></li>







    </ul>

  </div>
</nav>

<!-- </header> -->

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:80px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:40px" id="showcase">
    <h1><b>{{doctor.F_Name}}</b></h1>
     <!-- <section class="appointment-area area-padding"> -->


<h3>
  <br>
                                   <p>Department: {{doctor.L_Name}}</p>

<br>
                                  <p>Degree: {{doctor.Degree}}</p>
<br>

                                 <p>ID: {{doctor.Degree}}</p>

<br>

                                <p>Address:{{doctor.Address}}</p>

<br>


                                    <p>Phone Number:{{doctor.Phone}}</p>


<br>



                                    <p>Social Security Number: {{doctor.SSN}}</p>
<br>
                                    <p>Birth Date: {{doctor.birth-of-date}}</p>
<br>




                                    <p>Email: {{doctor.E-mail}}</p>


<br>

                                    <p>Job Position: {{doctor.Position}}</p>


<br>
                                    <p>Gender: {{doctor.Gender}}</p>

<br>
                                </h3>

                                <h1><b>Calender</b></h1>
                                <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Africa%2FCairo&amp;src=c2FsbWF6YWthcmlpYTk3QGdtYWlsLmNvbQ&amp;color=%2322AA99" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>













  <!-- Photo grid (modal) -->

  <section class="testimonials_area p_120">
            <div class="container">
              <div class="main_title">
                <h2>Qualifications Of admin</h2>
              </div>
              <div class="testi_inner">
            <div class="testi_slider owl-carousel">
              <div class="item">
                <div class="testi_item">
                  <p>Primary & Higher Medical Qualifications</p>
                  <h4>Bachelor of Medicine, Bachelor of Surgery</h4>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star-half-o"></i></a>
                </div>
              </div>
              <div class="item">
                <div class="testi_item">
                  <p>Primary & Higher Medical Qualifications</p>

                  <h4>Doctor of Medicine </h4>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star-half-o"></i></a>
                </div>
              </div>
              <div class="item">
                <div class="testi_item">
                  <p>Primary & Higher Medical Qualifications</p>

                  <h4>Doctor of Osteopathic Medicine </h4>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star"></i></a>
                  <a href="#"><i class="fa fa-star-half-o"></i></a>
                </div>
              </div>
          <div class="item">
            <div class="testi_item">
              <p>Primary & Higher Medical Qualifications</p>

              <h4>Master of Surgery</h4>
              <a href="#"><i class="fa fa-star"></i></a>
              <a href="#"><i class="fa fa-star"></i></a>
              <a href="#"><i class="fa fa-star"></i></a>
              <a href="#"><i class="fa fa-star"></i></a>
              <a href="#"><i class="fa fa-star-half-o"></i></a>
            </div>
          </div>
          <div class="item">
            <div class="testi_item">
              <p>Primary & Higher Medical Qualifications</p>

              <h4>Doctor of Medicine by research</h4>
              <a href="#"><i class="fa fa-star"></i></a>
              <a href="#"><i class="fa fa-star"></i></a>
              <a href="#"><i class="fa fa-star"></i></a>
              <a href="#"><i class="fa fa-star"></i></a>
              <a href="#"><i class="fa fa-star-half-o"></i></a>
            </div>
          </div><div class="item">
            <div class="testi_item">
              <p>Primary & Higher Medical Qualifications</p>

              <h4>Master of Surgery</h4>
              <a href="#"><i class="fa fa-star"></i></a>
              <a href="#"><i class="fa fa-star"></i></a>
              <a href="#"><i class="fa fa-star"></i></a>
              <a href="#"><i class="fa fa-star"></i></a>
              <a href="#"><i class="fa fa-star-half-o"></i></a>
            </div>
          </div>
        </div>
          </div>
        </div>
          </section>






      <footer class="footer-area area-padding-top">
         <div class="container">
             <div class="row">

         </div>
       </div>
               <div class="row footer-bottom d-flex justify-content-between">
             <p class="col-lg-8 col-sm-12 footer-text m-0">
                 <!-- <! Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      <!-- Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
             <!-- </p> -->
             <div class="col-lg-4 col-sm-12 footer-social">
               <p >You can visit our pages on</p>
                 <a href="#"><i class="fab fa-facebook-f"></i></a>
                 <a href="#"><i class="fab fa-twitter"></i></a>

             </div>
           </div>

      </footer>
     <script>
     $(document).ready(function(){
     var date_input=$('input[name="date"]'); //our date input has the name "date"
     var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
     var options={
       format: 'MM/DD/yyyy',
       container: container,
       todayHighlight: true,
       autoclose: true,
     };
     date_input.datepicker(options);
     })
     </script>

     <script>
     // Script to open and close sidebar
     function w3_open() {
     document.getElementById("mySidebar").style.display = "block";
     document.getElementById("myOverlay").style.display = "block";
     }

     function w3_close() {
     document.getElementById("mySidebar").style.display = "none";
     document.getElementById("myOverlay").style.display = "none";
     }

     </script>


     <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

     <!-- Include Date Range Picker -->
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>



     </script>
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
     <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


     <script src="js/jquery-2.2.4.min.js"></script>
     <script src="js/popper.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/stellar.js"></script>
     <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
     <script src="js/jquery.ajaxchimp.min.js"></script>
     <script src="js/waypoints.min.js"></script>
     <script src="js/mail-script.js"></script>
     <script src="js/contact.js"></script>
     <script src="js/jquery.form.js"></script>
     <script src="js/jquery.validate.min.js"></script>
     <script src="js/mail-script.js"></script>
     <script src="js/theme.js"></script>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

</script>

</body>
</html>
